/* style.css */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #333;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: #ffc0cb;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #d63384;
  text-align: center;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 1rem;
  padding: 0;
  margin: 0;
}

nav a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

.acoes {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.acoes input[type="text"] {
  padding: 0.5rem;
  border-radius: 8px;
  border: none;
}

.hero {
  text-align: center;
  padding: 2rem;
  background: linear-gradient(to bottom, #ffc0cb, #fff);
}

.hero h1 {
  font-size: 2.5rem;
  color: #dd4591;
}

button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 20px;
  background-color:#ffc0cb;
  color: #fff;
  cursor: pointer;
  margin: 0.3rem;
}

.oculto {
  display: none;
}

.etapa {
  padding: 1rem;
  text-align: center;
}

.opcoes-cor {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem 0;
}

.opcoes-cor .cor {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #ccc;
  cursor: pointer;
}

.produtos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1rem;
  padding: 2rem;
}

.produto {
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  background-color: #fff0f5;
}

.produto img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.lateral {
  position: fixed;
  top: 0;
  right: 0;
  width: 320px;
  height: 100vh;
  background-color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  overflow-y: auto;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 2000;
}

.lateral.aberta {
  transform: translateX(0);
}

.checkout {
  margin-top: 1rem;
}
.cadastro {
  max-width: 400px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #fff0f5;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.cadastro form input,
.cadastro form button {
  width: 100%;
  padding: 0.75rem;
  margin: 0.5rem 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

.cadastro form button {
  background-color: #ffc0cb;
  color: white;
  border: none;
  cursor: pointer;
}

.cadastro form button:hover {
  background-color: #dd4591;
}

footer {
  background-color: #f7e2e6;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
  color: #fff;
}

@media (max-width: 768px) {
  header, .acoes, nav ul {
    flex-direction: column;
    align-items: flex-start;
  }

  
  .produtos {
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  }
}
